{% extends "base.html" %}

{% block content %}

    <div class = "tile">
        
        <div class="tile">
            <h2 class="Your Info">
                <p>
                    <strong>ID: </strong> {{session['user']['_id']}}<br>
                    <strong>NAME: </strong> {{session['user']['name']}}
                </p>
            </h2><br />
        <p class="subtitle">
                            Where have you been before?<br>
                        </p>
                        <div class="dropdown" id="open_dropdown">

                            <div class="dropdown-trigger">
                                <div class="control" id="input_load_control">
                                    <input class="input" type="text" placeholder="Text input" id="destination_input">
                                </div>
                            </div>

                            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content" id="destination_result_dropdown">
                                    <!-- <div class="dropdown-item">
                                        <p>start typing and we'll find where you were</p>
                                    </div> -->

                                    <div class="dropdown-item">
                                        <p><strong>Dublin</strong></p>
                                        <p class="is-size-7 has-text-right is-italic"> A city in Dublin, Ireland</p>
                                    </div>
                                    <hr class="dropdown-divider">
                                    <div class="dropdown-item">
                                        <p><strong>Dublin</strong></p>
                                        <p class="is-size-7 has-text-right is-italic"> A city in Dublin, Ireland</p>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
        </div>
    </div>

{% endblock %}