{% extends "base.html" %}

{% block content %}

<div class="container">
        <div clas="section">
        <div class="tile">
            <h2 class="Your Info">
                <p>
                    <strong>ID: </strong> {{session['user']['_id']}}<br>
                    <strong>NAME: </strong> {{session['user']['name']}}
                </p>
            </h2><br />
            </div>
            </div>
            <div class="section">
            <div class="tile">
                        <p class="subtitle">
                            Where have you been before?<br>
                        </p>
                        <div class="dropdown" id="open_dropdown">

                            <div class="dropdown-trigger">
                                <div class="control" id="input_load_control">
                                    <input class="input" type="text" placeholder="Text input" id="destination_input">
                                    <a class="button is-primary" href="#" id="submit-destination-choice" style="display:none;">
                                        <strong>Go</strong>
                                      </a>
                                </div>
                            </div>

                            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content" id="destination_result_dropdown">
                                    <div class="dropdown-item">
                                        <p>start typing and we'll find where you were</p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="section">
                <div class="tile" id="recipe_content">
                    <!-- <div class="box">
                      <div class="field">
                        <table class="table">
                          <thead>
                            <tr>
                                <td >Recipe Title</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>3 tablespoons olive oil</td>
                            </tr>
                            <tr>
                                <td>1/2 cup pine nuts, toasted</td>
                            </tr>
                            <tr>
                                <td>1/8 tsp pepper</td>
                            </tr>
                            <tr>
                                <td>Stir-fried Cabbage</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">
                      <div class="field">
                        <table class="table">
                          <thead>
                            <tr>
                                <td >Recipe Title</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>3 tablespoons olive oil</td>
                            </tr>
                            <tr>
                                <td>1/2 cup pine nuts, toasted</td>
                            </tr>
                            <tr>
                                <td>1/8 tsp pepper</td>
                            </tr>
                            <tr>
                                <td>Stir-fried Cabbage</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">
                      <div class="field">
                        <table class="table">
                          <thead>
                            <tr>
                                <td >Recipe Title</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>3 tablespoons olive oil</td>
                            </tr>
                            <tr>
                                <td>1/2 cup pine nuts, toasted</td>
                            </tr>
                            <tr>
                                <td>1/8 tsp pepper</td>
                            </tr>
                            <tr>
                                <td>Stir-fried Cabbage</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

{% endblock %}